@font-face {
  font-family: 'ChunkFiveRegular';
  src: url("../webfont/Chunkfive-webfont.eot");
  src: url("../webfont/Chunkfive-webfont.eot?#iefix") format("embedded-opentype"), url("../webfont/Chunkfive-webfont.woff") format("woff"), url("../webfont/Chunkfive-webfont.ttf") format("truetype"), url("../webfont/Chunkfive-webfont.svg#ChunkFiveRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

html, body {
  color: #444444;
  background-color: #2673bf;
  font-size: 16px;
  font-family: Georgia, "New Century Schoolbook", "Nimbus Roman No9 L", serif; }

#container {
  background-color: #efefef; }

a:link {
  color: #3399ff;
  text-decoration: none; }
a:visited {
  color: #3399ff;
  text-decoration: none; }
a:hover {
  color: #2673bf;
  text-decoration: none; }
a:active {
  color: #3399ff;
  text-decoration: none;
  position: relative;
  top: 1px; }

p {
  line-height: 1.5em;
  margin: 20px 0; }

h1, h2, h3, h4, h5, h6 {
  padding: 0.75em 0 0 0;
  margin: 0;
  line-height: 1em; }

h1, h2, h3 {
  font-family: ChunkFive, ChunkFiveRegular, "Helvetica Neue", Arial, Helvetica, "Arial Black", sans-serif;
  font-weight: normal; }

h4, h5, h6 {
  font-family: Georgia, "New Century Schoolbook", "Nimbus Roman No9 L", serif;
  font-weight: bold; }

h1 {
  font-size: 64px; }

h2 {
  font-size: 48px; }

h3 {
  font-size: 36px; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px;
  font-style: italic; }

ul li, ol li {
  font-size: 16px; }

hr {
  border: 0;
  border-top: 1px solid #dddddd;
  background-color: none;
  height: 0;
  margin: 20px 0;
  color: transparent; }

blockquote {
  font-size: 16px;
  border-left: 3px solid #3399ff;
  margin: 0 20px;
  padding: 0 20px;
  color: #888; }

header#header {
  background: url("../img/grey.png");
  background-color: #efefef;
  padding: 30px 0;
  border-bottom: 1px solid #dddddd; }
  header#header h1 {
    padding: 0;
    line-height: 1.25em; }
    header#header h1 a {
      color: #444444; }
      header#header h1 a:hover, header#header h1 a:active {
        color: #3399ff; }
  header#header h2 {
    font-size: 32px;
    line-height: 1.25em; }
    header#header h2 a {
      color: #3399ff; }
      header#header h2 a:hover, header#header h2 a:active {
        color: #444444; }

#primary-navigation {
  background-color: #444444;
  border-top: 2px solid #3399ff;
  border-bottom: 2px solid white; }
  #primary-navigation nav {
    text-align: right; }
    #primary-navigation nav ul {
      list-style-type: none;
      display: block;
      margin: 0;
      border-bottom: 0; }
      #primary-navigation nav ul li {
        padding: 0.25em 2%;
        margin: 0;
        display: inline-block;
        font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 16px; }
        #primary-navigation nav ul li a {
          color: #efefef; }
          #primary-navigation nav ul li a:hover, #primary-navigation nav ul li a:active {
            color: white; }
        #primary-navigation nav ul li:last-child {
          border-right: 0; }

div#content {
  background-color: #efefef;
  padding: 0 0 30px 0;
  border-bottom: 1px solid white; }
  div#content div#front-page-clips .row > div, div#content div#more-clips .row > div {
    padding: 10px 0; }
  div#content div#front-page-clips .card, div#content div#more-clips .card {
    background-color: white;
    border: 1px solid #dddddd;
    margin: auto;
    vertical-align: middle;
    min-height: 210px; }
  div#content div#front-page-clips .image-card, div#content div#more-clips .image-card {
    padding: 20px; }
    div#content div#front-page-clips .image-card div.image, div#content div#more-clips .image-card div.image {
      border: 3px solid #dddddd;
      background-color: #dddddd;
      background-size: cover;
      background-position: center;
      height: 210px; }
    div#content div#front-page-clips .image-card h3, div#content div#more-clips .image-card h3 {
      display: none;
      padding: 0;
      font-family: ChunkFive, ChunkFiveRegular, "Helvetica Neue", Arial, Helvetica, "Arial Black", sans-serif;
      font-size: 26px;
      line-height: 1.5em;
      height: 210px;
      overflow: hidden; }
    div#content div#front-page-clips .image-card:hover h3, div#content div#more-clips .image-card:hover h3 {
      font-family: Georgia, "New Century Schoolbook", "Nimbus Roman No9 L", serif;
      font-weight: bold;
      margin: 31px 21px;
      background-color: rgba(50, 50, 50, 0.4);
      border: 3px solid #dddddd;
      position: absolute;
      z-index: 1;
      top: 0px;
      left: 0px;
      display: block; }
      div#content div#front-page-clips .image-card:hover h3 a, div#content div#more-clips .image-card:hover h3 a {
        color: #3399ff;
        padding: 10px;
        display: block;
        height: 210px;
        text-shadow: 1px 2px 0 #111111; }
        div#content div#front-page-clips .image-card:hover h3 a:hover, div#content div#more-clips .image-card:hover h3 a:hover {
          color: #3399ff; }
  div#content div#front-page-clips .quote-card, div#content div#more-clips .quote-card {
    padding: 20px; }
    div#content div#front-page-clips .quote-card a, div#content div#more-clips .quote-card a {
      color: #444444; }
      div#content div#front-page-clips .quote-card a:hover, div#content div#more-clips .quote-card a:hover {
        color: #3399ff; }
    div#content div#front-page-clips .quote-card p, div#content div#more-clips .quote-card p {
      font-family: Georgia, "New Century Schoolbook", "Nimbus Roman No9 L", serif;
      font-weight: bold;
      font-size: 24px;
      line-height: 1.5em;
      max-height: 216px;
      overflow: hidden;
      margin: 0;
      padding: 0; }
      div#content div#front-page-clips .quote-card p:before, div#content div#more-clips .quote-card p:before {
        content: "“"; }
      div#content div#front-page-clips .quote-card p:after, div#content div#more-clips .quote-card p:after {
        content: "”"; }
    div#content div#front-page-clips .quote-card h3, div#content div#more-clips .quote-card h3 {
      display: none;
      padding: 0;
      font-family: ChunkFive, ChunkFiveRegular, "Helvetica Neue", Arial, Helvetica, "Arial Black", sans-serif;
      font-size: 26px;
      line-height: 1.5em;
      height: 210px;
      overflow: hidden; }
  div#content div#front-page-clips .title-card, div#content div#more-clips .title-card {
    padding: 20px; }
    div#content div#front-page-clips .title-card h3, div#content div#more-clips .title-card h3 {
      font-size: 36px;
      line-height: 1.5em;
      padding: 0;
      max-height: 216px;
      overflow: hidden; }
  div#content article p {
    line-height: 1.5em;
    margin: 20px 0; }
    div#content article p:first-child {
      font-size: 1.5em; }
  div#content article h2 {
    line-height: 1.25em; }
    div#content article h2 a {
      color: #444444; }
  div#content article .copy {
    border: 1px solid #dddddd;
    background-color: #fff;
    padding: 0 20px; }
    div#content article .copy img {
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0; }
      div#content article .copy img.alignright {
        float: right;
        border: 3px solid #dddddd;
        margin: 0 0 0 2%; }
      div#content article .copy img.alignleft {
        float: left;
        border: 3px solid #dddddd;
        margin: 0 2% 0 0; }
      div#content article .copy img.aligncenter {
        margin: 0 auto;
        padding: 1%;
        background-color: #dddddd; }
      div#content article .copy img.size-full {
        width: 98%;
        height: auto;
        padding: 1%;
        background-color: #dddddd;
        margin: 0; }
  div#content article footer div.clip-meta {
    padding: 30px 0; }
    div#content article footer div.clip-meta section.author {
      text-align: center;
      font-size: 1.5em;
      padding-bottom: 30px; }
      div#content article footer div.clip-meta section.author strong {
        font-weight: bold;
        color: #3399ff; }
    div#content article footer div.clip-meta section.originally-published {
      text-align: center;
      padding: 0; }
  div#content article footer aside.pullquote {
    border: 1px solid #dddddd;
    font-size: 24px;
    line-height: 1.5em;
    padding: 30px;
    background-color: #fff; }
  div#content article footer div.pullquote {
    padding: 0 30px; }
  div#content article footer nav.prev-next {
    margin: auto;
    padding: 30px;
    text-align: center;
    font-size: 24px;
    line-height: 1.5em; }
    div#content article footer nav.prev-next > div {
      margin: auto; }

footer#footer {
  font-weight: 400;
  background-color: #2673bf;
  border-top: 1px solid #3399ff;
  color: #efefef;
  padding: 20px 0 0 0; }
  footer#footer #footer-left, footer#footer #footer-center, footer#footer #footer-right {
    padding: 0 20px; }
  footer#footer ul li {
    list-style-type: square;
    padding: 10px 0; }
  footer#footer nav#footer-navigation ul li {
    list-style-type: none;
    font-size: 16px;
    margin: 0;
    padding: 0; }
  footer#footer a:link {
    color: #efefef;
    text-decoration: underline; }
  footer#footer a:visited {
    color: #efefef;
    text-decoration: none; }
  footer#footer a:hover {
    color: #dddddd;
    text-decoration: none; }
  footer#footer a:active {
    color: #dddddd;
    text-decoration: none;
    position: relative;
    top: 1px; }
  footer#footer h3 {
    padding-bottom: 15px; }
    footer#footer h3 a:link, footer#footer h3 a:visited, footer#footer h3 a:hover, footer#footer h3 a:active {
      text-decoration: none; }
  footer#footer .rsswidget img {
    display: none; }
  footer#footer #twitter-feed p {
    font-size: 14px;
    padding: 0 0 8px 0;
    margin: 0; }
    footer#footer #twitter-feed p.tweet {
      border-left: 1px solid #efefef;
      padding-left: 10px; }
    footer#footer #twitter-feed p.tweetlink {
      padding-bottom: 20px; }
