html, body {
  color: #444444;
  background-color: #2673bf;
  font-size: 16px;
  font-family: Georgia, "New Century Schoolbook", "Nimbus Roman No9 L", serif; }

#container {
  background-color: #efefef; }

a:link {
  color: #3399ff;
  text-decoration: none; }
a:visited {
  color: #3399ff;
  text-decoration: none; }
a:hover {
  color: #2673bf;
  text-decoration: none; }
a:active {
  color: #3399ff;
  text-decoration: none;
  position: relative;
  top: 1px; }

p {
  line-height: 1.5em;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  padding: 0.75em 0 0 0;
  margin: 0;
  line-height: 1em; }

h1, h2, h3 {
  font-family: ChunkFive, ChunkFiveRegular, "Helvetica Neue", Arial, Helvetica, "Arial Black", sans-serif;
  font-weight: normal; }

h4, h5, h6 {
  font-family: Georgia, "New Century Schoolbook", "Nimbus Roman No9 L", serif;
  font-weight: bold; }

h1 {
  font-size: 64px; }

h2 {
  font-size: 48px; }

h3 {
  font-size: 36px; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px;
  font-style: italic; }

ul li, ol li {
  font-size: 16px; }

hr {
  border: 0;
  border-top: 1px solid #dddddd;
  background-color: none;
  height: 0;
  margin: 20px 0;
  color: transparent; }

blockquote {
  font-size: 16px;
  border-left: 3px solid #3399ff;
  margin-left: 20px;
  color: #888; }

header#header {
  background: url("../img/grey.png");
  background-color: #efefef;
  padding: 15px 0 0 0;
  border-bottom: 1px solid #dddddd; }
  header#header h1 {
    padding: 0; }
  header#header h2 {
    font-size: 36px; }

nav#primary-navigation {
  text-align: center; }
  nav#primary-navigation ul {
    list-style-type: none;
    display: block;
    margin: 0;
    background-color: #fff;
    box-shadow: inset 0 1px 6px 1px #dddddd;
    border-radius: 10px 10px 0 0;
    border: 1px solid #dddddd;
    border-bottom: 0; }
    nav#primary-navigation ul li {
      margin: 0;
      padding: 0.25em 0;
      margin-right: 12px;
      display: inline-block;
      font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-size: 18px; }
      nav#primary-navigation ul li:first-child {
        margin-left: 12px; }

div#content {
  background-color: #efefef;
  padding: 0 0 30px 0; }
  div#content div#front-page-clips .row > div {
    padding: 20px 0; }
  div#content div#front-page-clips .card {
    background-color: white;
    border: 1px solid #dddddd;
    margin: auto;
    vertical-align: middle; }
  div#content div#front-page-clips .image-card {
    padding: 20px; }
    div#content div#front-page-clips .image-card div.image {
      border: 3px solid #dddddd;
      background-color: #dddddd;
      background-size: cover;
      height: 210px; }
    div#content div#front-page-clips .image-card h3 {
      font-weight: bold;
      font-family: Georgia, "New Century Schoolbook", "Nimbus Roman No9 L", serif;
      font-size: 16px;
      line-height: 1.5em;
      max-height: 60px;
      overflow: hidden; }
  div#content div#front-page-clips .quote-card {
    padding: 20px; }
    div#content div#front-page-clips .quote-card p {
      font-family: ChunkFive, ChunkFiveRegular, "Helvetica Neue", Arial, Helvetica, "Arial Black", sans-serif;
      font-weight: normal;
      font-size: 24px;
      line-height: 1.5em;
      max-height: 216px;
      overflow: hidden; }
  div#content div#front-page-clips .title-card {
    padding: 20px; }
    div#content div#front-page-clips .title-card h3 {
      font-size: 36px;
      line-height: 1.5em;
      padding: 0;
      max-height: 216px;
      overflow: hidden; }
  div#content #clip article p {
    line-height: 1.5em;
    margin: 20px 0; }
  div#content #clip article .copy {
    border: 1px solid #dddddd;
    background-color: #fff;
    padding: 0 20px; }
  div#content #clip article footer div.clip-meta {
    padding: 30px 0; }
    div#content #clip article footer div.clip-meta section.author {
      text-align: center;
      font-size: 1.5em;
      padding-bottom: 30px; }
      div#content #clip article footer div.clip-meta section.author strong {
        font-weight: bold;
        color: #3399ff; }
    div#content #clip article footer div.clip-meta section.originally-published {
      text-align: center;
      padding: 0; }
  div#content #clip article footer aside.pullquote {
    border: 1px solid #dddddd;
    font-size: 24px;
    line-height: 1.5em;
    padding: 30px;
    background-color: #fff; }
  div#content #clip article footer nav.prev-next {
    margin: auto;
    padding: 30px;
    text-align: center;
    font-size: 24px;
    line-height: 1.5em; }
    div#content #clip article footer nav.prev-next > div {
      margin: auto; }

footer#footer {
  font-weight: 400;
  background-color: #2673bf;
  border-top: 1px solid #3399ff;
  color: #efefef;
  padding: 30px 0; }
  footer#footer #footer-left, footer#footer #footer-center {
    padding-right: 10%;
    border-right: 1px solid #efefef; }
  footer#footer nav#footer-navigation ul {
    list-style-type: none; }
    footer#footer nav#footer-navigation ul li {
      font-size: 16px;
      margin: 0; }
  footer#footer a:link {
    color: #efefef;
    text-decoration: underline; }
  footer#footer a:visited {
    color: #efefef;
    text-decoration: none; }
  footer#footer a:hover {
    color: #dddddd;
    text-decoration: none; }
  footer#footer a:active {
    color: #dddddd;
    text-decoration: none;
    position: relative;
    top: 1px; }
  footer#footer h3 a:link, footer#footer h3 a:visited, footer#footer h3 a:hover, footer#footer h3 a:active {
    text-decoration: none; }
  footer#footer .rsswidget img {
    display: none; }
