@font-face {

	font-family: 'ChunkFiveRegular';
	src: url('../webfont/Chunkfive-webfont.eot');
    src: url('../webfont/Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfont/Chunkfive-webfont.woff') format('woff'),
         url('../webfont/Chunkfive-webfont.ttf') format('truetype'),
         url('../webfont/Chunkfive-webfont.svg#webfont2B4HRL5F') format('svg');
    font-weight: normal;
    font-style: normal;

}