@import "partials/base";

// ----------
// Global
// ----------

html, body {
	color: $dark;
	background-color: $darkblue;
	font-size: 16px;
	font-family: $body;
}

#container {
	background-color: $light;
}

a {
	&:link { color: $blue; text-decoration: none; }
	&:visited { color: $blue; text-decoration: none; }
	&:hover { color: $darkblue; text-decoration: none; }
	&:active { color: $blue; text-decoration: none; position: relative; top: 1px; }
}

p {
	line-height: 1.5em;
	margin: 20px 0;
}

h1, h2, h3, h4, h5, h6 {
	padding: .75em 0 0 0;
	margin: 0;
	line-height: 1em;
}

h1, h2, h3 {
	font-family: $display;
	font-weight: normal;
}

h4, h5, h6 {
	font-family: $body;
	font-weight: bold;
}

h1 { font-size: 64px; }
h2 { font-size: 48px; }
h3 { font-size: 36px; }
h4 { font-size: 24px; }
h5 { font-size: 18px; }
h6 { font-size: 16px; font-style: italic; }

ul, ol {
	li {
		font-size: 16px;
	}
}

hr {
	border: 0;
	border-top: 1px solid $lightgray;
	background-color: none;
	height: 0;
	margin: 20px 0;
	color: transparent;
}

blockquote {
	font-size: 16px;
	border-left: 3px solid $blue;
	margin: 0 20px;
	padding: 0 20px;
	color: #888;
}

// ----------
// Header
// ----------

header#header {
	background: url('../img/grey.png');
	background-color: $light;
	padding: 15px 0 0 0;
	border-bottom: 1px solid $lightgray;
	h1 {
		padding: 0;
	}
	h2 {
		font-size: 36px;
	}
}

// ----------
// Primary nav
// ----------

nav#primary-navigation {
	text-align: center;
	ul {
		list-style-type: none;
		display: block;
		margin: 0;
		background-color: #fff;
		box-shadow: inset 0 1px 6px 1px $lightgray;
		border-radius: 10px 10px 0 0;
		border: 1px solid $lightgray;
		border-bottom: 0;
		li {
			margin: 0;
			padding: .25em 0;
			margin-right: 12px;
			display: inline-block;
			font-family: $menu;
			font-size: 18px;
			&:first-child {
				margin-left: 12px;
			}
		}
	}
}

// ----------
// Content
// ----------

div#content {
	background-color: $light;
	padding: 0 0 30px 0;

	// ----------
	// Front page
	// ----------

	div#front-page-clips {
		.row>div {
			padding: 10px 0;
		}
		.card {
			background-color: $white;
			border: 1px solid $lightgray;
			margin: auto;
			vertical-align: middle;
		}
		.image-card {
			padding: 20px;
			div.image {
				border: 3px solid $lightgray;
				background-color: $lightgray;
				background-size: cover;
				background-position: center;
				height: 210px;
			}
			h3 {
				display: none;
				padding: 0;
				font-family: $display;
				font-size: 26px;
				line-height: 1.5em;
				height: 210px;
				overflow: hidden;
			}
			&:hover {
				h3 {
					a {
						color: $blue;
						padding: 10px;
						display: block;
						height: 210px;
						text-shadow: 1px 2px 0 #000;
						&:hover {
							color: $blue;
						}
					}
					margin: 31px 21px;
					background-color: rgba(51,153,255,0.4);
					border: 3px solid $lightgray;
					position: absolute;
					z-index: 1;
					top: 0px;
					left: 0px;
					display: block;
				}
			}
		}
		.quote-card {
			padding: 20px;
			p {
				font-family: $display;
				font-weight: normal;
				font-size: 24px;
				line-height: 1.5em;
				max-height: 216px;
				overflow: hidden;
				margin: 0;
				padding: 0;
				&:before {
					content:"“";
				}
			}
			h3 {
				display: none;
				padding: 0;
				font-family: $display;
				font-size: 26px;
				line-height: 1.5em;
				height: 210px;
				overflow: hidden;
			}
			// &:hover {
			// 	h3 {
			// 		a {
			// 			padding: 10px;
			// 			display: block;
			// 			height: 210px;
			// 			text-shadow: 1px 1px 0 $dark;
			// 			&:hover {
			// 				color: $blue;
			// 			}
			// 		}
			// 		margin: 31px 21px;
			// 		background-color: rgba(50,50,50,0.3);
			// 		border: 3px solid $lightgray;
			// 		position: absolute;
			// 		z-index: 1;
			// 		top: 0px;
			// 		left: 0px;
			// 		display: block;
			// 	}
			// }
		}
		.title-card {
			padding: 20px;
			h3 {
				font-size: 36px;
				line-height: 1.5em;
				padding: 0;
				max-height: 216px;
				overflow: hidden;
			}
		}
	}

	// ----------
	// Clip page
	// ----------

	article {
		
		p {
			line-height: 1.5em;
			margin: 20px 0;
			&:first-child {
				font-size: 1.5em;
			}
		}
		
		h2 {
			line-height: 1.25em;
		}
		
		.copy {
			border: 1px solid $lightgray;
			background-color: #fff;
			padding: 0 20px;
			img {
				border-radius: 0;
				-webkit-border-radius: 0;
				-moz-border-radius: 0;
				&.alignright {
					float: right;
					border: 3px solid $lightgray;
					margin: 0 0 0 2%;
				}
				&.alignleft {
					float: left;
					border: 3px solid $lightgray;
					margin: 0 2% 0 0;
				}
				&.aligncenter {
					margin: 0 auto;
					padding: 1%;
					background-color: $lightgray;
				}
				&.size-full {
					width: 98%;
					height: auto;
					padding: 1%;
					background-color: $lightgray;
					margin: 0;
				}
			}
		}

		footer {
			div.clip-meta {
				padding: 30px 0;
				section.author {
					text-align: center;
					font-size: 1.5em;
					padding-bottom: 30px;
					strong {
						font-weight: bold;
						color: $blue;
					}
				}
				section.originally-published {
					text-align: center;
					padding: 0;
				}
			}
			aside.pullquote {
				border: 1px solid $lightgray;
				font-size: 24px;
				line-height: 1.5em;
				padding: 30px;
				background-color: #fff;
			}
			div.pullquote {
				padding: 0 30px;
			}
			nav.prev-next {
				margin: auto;
				padding: 30px;
				text-align: center;
				font-size: 24px;
				line-height: 1.5em;
				>div {
					margin: auto;
				}
			}
		}
	}
}

// ----------
// Footer
// ----------

footer#footer {
	#footer-left, #footer-center, #footer-right {
		padding: 0 20px;
	}
	// #footer-center {
	// 	//border: 1px solid $light;
	// 	border-width: 0 1px;
	// }
	font-weight: 400;
	background-color: $darkblue;
	border-top: 1px solid $blue;
	color: $light;
	padding: 30px 0;
	ul {
		li {
			list-style-type: square;
			padding: 10px 0;
		}
	}
	nav#footer-navigation {
		ul {
			li {
				list-style-type: none;
				font-size: 16px;
				margin: 0;
				padding: 0;
			}
		}
	}
	a {
		&:link { color: $light; text-decoration: underline; }
		&:visited { color: $light; text-decoration: none; }
		&:hover { color: $lightgray; text-decoration: none; }
		&:active { color: $lightgray; text-decoration: none; position: relative; top: 1px; }
	}
	h3 {
		padding-bottom: 15px;
		a:link, a:visited, a:hover, a:active {
			text-decoration: none;
		}
	}
	.rsswidget {
		img {
			display: none;
		}
	}
	#twitter-feed {
		img.tweetphoto {
			float: right;
			border: 1px solid $light;
			margin: 4px 0 24px 5%;
		}
		p {
			font-size: 12px;
			padding: 0 0 16px 0;
			margin: 0;
			&.tweetlink {
				padding-bottom: 20px;
			}
		}
	}
}