@import "partials/base";

// ----------
// Global
// ----------

html, body {
	color: $dark;
	background-color: $darkblue;
	font-size: 16px;
	font-family: $body;
}

#container {
	background-color: $light;
}

a {
	&:link { color: $blue; text-decoration: none; }
	&:visited { color: $blue; text-decoration: none; }
	&:hover { color: $darkblue; text-decoration: none; }
	&:active { color: $blue; text-decoration: none; position: relative; top: 1px; }
}

p {
	line-height: 1.5em;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	padding: .5em 0;
	margin: 0;
	line-height: 1em;
}

h1, h2, h3 {
	font-family: $display;
	font-weight: normal;
}

h4, h5, h6 {
	font-family: $body;
	font-weight: bold;
}

h1 { font-size: 64px; }
h2 { font-size: 48px; }
h3 { font-size: 36px; }
h4 { font-size: 24px; }
h5 { font-size: 18px; }
h6 { font-size: 16px; font-style: italic; }

ul, ol {
	li {
		font-size: 16px;
	}
}

// ----------
// Header
// ----------

header#header {
	background: url('../img/grey.png');
	background-color: $light;
	padding: 30px 0;
	border-bottom: 1px solid $lightgray;
	h1 {
		padding: 0;
	}
	h2 {
		font-size: 36px;
	}
}

// ----------
// Primary nav
// ----------

nav#primary-navigation {
	ul {
		list-style-type: none;
		li {
			margin: 0;
			margin-right: 10px;
			display: inline-block;
			font-family: $display;
			font-size: 18px;
		}
	}
}

// ----------
// Content
// ----------

div#content {
	background-color: $light;
	padding: 30px 0;
}

// ----------
// Footer
// ----------

footer#footer {
	#footer-left, #footer-center {
		padding-right: 10%;
		border-right: 1px solid $light;
	}
	font-weight: 400;
	background-color: $darkblue;
	border-top: 1px solid $blue;
	color: $light;
	padding: 30px 0;
	nav#footer-navigation {
		ul {
			list-style-type: none;
			li {
				font-size: 16px;
				margin: 0;
			}
		}
	}
	a {
		&:link { color: $light; text-decoration: underline; }
		&:visited { color: $light; text-decoration: none; }
		&:hover { color: $lightgray; text-decoration: none; }
		&:active { color: $lightgray; text-decoration: none; position: relative; top: 1px; }
	}
	h3 {
		a:link, a:visited, a:hover, a:active {
			text-decoration: none;
		}
	}
	.rsswidget img {
		display: none;
	}
}