// Palette

$dark: #333;	// dark grey
$blue: #39f;	// light blue
$darkblue: #2673bf;	// darker blue
$light: #fff;	// white

// Typography

$display: ChunkFive, ChunkFiveRegular, "Helvetica Neue", Arial, Helvetica, "Arial Black", sans-serif;
$body: Georgia, "New Century Schoolbook", "Nimbus Roman No9 L", serif;