// Palette

$dark: #444;	// dark grey
$blue: #39f;	// light blue
$darkblue: #2673bf;	// darker blue
$light: #efefef;	// off-white
$lightgray: #ddd;	// light gray
$white: #fff;	// white

$palette1: #444;
$palette2: #2673bf;
$palette3: #39f;
$palette4: #ddd;
$palette5: #efefef;
$palette6: #fff;

// Typography

$display: ChunkFive, ChunkFiveRegular, "Helvetica Neue", Arial, Helvetica, "Arial Black", sans-serif;
$body: Georgia, "New Century Schoolbook", "Nimbus Roman No9 L", serif;
$menu: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
