// Palette

$black: #111;	// close to black
$dark: #444;	// dark gray
$blue: #39f;	// light blue
$darkblue: #2673bf;	// darker blue

$lightgray: #ddd;	// light gray
$light: #efefef;	// off-white
$white: #fff;	// white

$palette1: #444;
$palette2: #2673bf;
$palette3: #39f;
$palette4: #ddd;
$palette5: #efefef;
$palette6: #fff;

// Typography

$display: ChunkFive, ChunkFiveRegular, "Helvetica Neue", Arial, Helvetica, "Arial Black", sans-serif;
$body: Georgia, "New Century Schoolbook", "Nimbus Roman No9 L", serif;
$menu: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

@font-face {
    font-family: 'ChunkFiveRegular';
    src: url('../webfont/Chunkfive-webfont.eot');
    src: url('../webfont/Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfont/Chunkfive-webfont.woff') format('woff'),
         url('../webfont/Chunkfive-webfont.ttf') format('truetype'),
         url('../webfont/Chunkfive-webfont.svg#ChunkFiveRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}